.footer {
  position: fixed;
  display: flex;
  left: 16px;
  bottom: 16px;
  text-align:initial;
  background: rgba(0, 0, 0, .7);
  padding: 8px 24px;
  border-radius: 32px;
  opacity: .95;
  backdrop-filter: blur(8px);
}
.footer button{
  color: darkolivegreen;
  flood-color:darkblue;
  border: radius 20px;
}
.footer span {
  font-size: 14px;
  color: #09f;
  opacity: .8;
}

.footer h4, .footer h5 {
  margin: 0;
  display: flex;
}