.form_nl {
    display:block;
    justify-content: center;
    place-content: center;
    align-content:center;
    align-items:center;
    flex-direction:row;
    position:unset;
    height: 70%;
    width: 100%;
    background-color: rgba(127, 223, 255, 0.518);
  }
  
  .form_nl label {
    position:relative;
    text-align:center;
    gap: 1rem;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, .1);
    border-radius: 4px;
    padding: 4px 6px;
    margin: 0 0 4px;
  }
  
  .form_nl input {
    position:relative;
    align-items: stretch;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 4px 6px;
    margin: 0 0 4px;
  }
  
  .form_nl button {
    width:fit-content;
    height:fit-content;
    background-color:rgba(31, 33, 3, 0.508);
    color:whitesmoke;
    position:relative;
    text-align:justify;
    align-items:center;
    padding: 4px 6px;
    margin: 0 0 4px
  }