.suggested {
    position:relative;
    width: 50%;
    height: 50%;
    display:inline-flex;
    flex-direction:column;
    place-content:initial;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    background:rgba(255, 255, 0, 0.387);
    border-radius: 400px;
  }
  
  .suggested ul {
    border-radius: 400px;
    display:column;
    
    grid-template-columns: repeat(
      auto-fit,
      minmax(
        200px,
        1fr
      )
    );
    gap: 1rem;
  }
  
  .suggested li {
    display:inline-block;
    flex-direction: column;
    text-align:center;
    gap: 1rem;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, .1);
    border-radius: 450px;
    background: #111;
    color: #fff;
    padding: 1rem;
  }
  
  .suggested h3 {
    margin: 0;
  }
  
  .suggested span {
    font-size: 1rem;
    opacity: .9;
  }
  
  .suggested img {
    border-radius:500px;
    width: 80%;
    height: 80px;
    aspect-ratio: 16/9;
    display: center;
    object-fit: cover;
    background: #fff;
  }