.sidebar {
    position: fixed;
    display:flex;
    flex-direction:column;
    /*place-content:initial;*/
    align-content:start;
    align-items:center;
    background-color: rgba(127, 217, 255, 0.367);
    top: 50%;
    left:0%;
    transform: translateY(-50%);
    width: 20rem;
    height: calc(100vh - 52px);
    border-right: 1px solid rgb(1, 91, 76);
    ul{
      list-style: none;
      
      padding: 3rem 4rem;
      li {
        display:list-item;
        margin-bottom: 1rem;
      }
      a {
        text-decoration: none;
        &active{
          background-color: aqua;
        }
      }
    
    }
  }
  
  .sidebar_icon {
    background-color: #333;
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .sidebar_icon:hover {
    background-color: #555;
  }
  
  .sidebar_icon i {
    font-size: 1.7rem;
  }
  
  .sidebar_items {
    background-color: #333;
    color: white;
    width: 200px;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .sidebar_item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .sidebar_item:hover {
    background-color: #555;
  }
  
  .sidebar_item i {
    font-size: 1.3rem;
    margin-right: 10px;
  }
  
  .sidebar_item p {
    font-size: 1rem;
    color: blue;
    background-color: aquamarine;
  }

  /*Viendo si responde desde acá el listado*/

  