.side-bar {
    margin:0rem;
    height: calc(100vh - 52px);;
    width: 14rem;
    display:block;
    justify-content: center;
    align-items: center;
    background:rgba(255, 255, 0, 0.387);
  }
.side-bar, ul {
    list-style-type: none;
    display: flex;
    flex-direction:row;
    place-content:initial;
    align-content:start;
    position:relative;
    align-items: stretch;
    text-align:center;
    padding: 4px 6px;
    margin: 0 0 4px;
  }
  
  /*Para el diseño y decorado de los enlaces*/
  #side-bar, li, link {
    display:inline-block;
    flex-direction:row;
    gap: 1rem;
    padding: 2px 7px 2px 7px;
    color: #666;
    background-color: #eeeeee;
    border: 1px solid #ccc;
    text-decoration: none;
  }
  
  #side-bar li link:hover{
    background-color: #333333;
    color: #ffffff;
  }
  */
  /*para ajustar la ubicacion de los elementos*/
  
  li, link{
    display: inline; /*alineados uno detras de otros los elementos (los display son para indicar 
    como se van a aparecer los componentes*/
    text-align: center; /*centrar el texto */
    margin: 0 10px 0 0;
  }
  
  .textarea {
    font-family: inherit;
    margin-bottom: 8px;
    padding-left: 5px;
  }
  
  .form {
    display:flex;
    place-content: center;
    flex-direction:row;
    position:relative;
    max-width: 150px;
    max-height: 500vh;
  }
  
  .form label {
    position:fixed;
    text-align:center;
    padding: 4px 6px;
    margin: 0 0 4px;
  }
  
  .form input {
    position:relative;
    align-items: stretch;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 4px 6px;
    margin: 0 0 4px;
  }
  
  .form button {
    width:fit-content;
    height:fit-content;
    background-color:rgba(31, 33, 3, 0.508);
    color:whitesmoke;
    position:relative;
    text-align:justify;
    align-items:center;
    padding: 4px 6px;
    margin: 0 0 4px
  }